.dashboard {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100vw;
    display: none;
    
    background-image: linear-gradient(rgba($black, .2), rgba($black, .2)), url('https://images.unsplash.com/photo-1555999003-3f2bc447570e?ixlib=rb-1.2.1&auto=format&fit=crop&w=3300&q=80');
    
    background-size: cover;
    background-position: center;
    
    &__content {
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-color: rgba($white, .9);
        bottom: 0;
        transform: translateY(100%);
        transition: all 1.3s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    }
    
    &__collapse {
        position: absolute;
        width: 30vw;
        left: calc(50% - 15vw);
        top: 20vh;
        cursor: pointer;
        transition: $normal;
        
        &:hover {
            transform: translateY(-1rem);
            
            i {
                transform: scale(1.3);
            }
        }
        
        i {
            font-size: 5rem;
            text-align: center;
            display: block;
            margin: 0 auto;
            font-size: 4rem;
            transition: $normal;
        }
        
    }
}