.quote {
    
    position: absolute;
    width: 30vw;
    bottom: 5vh;
    left: calc(50% - 15vw);
    
    &__text {
        
        text-align: center;
        color: $white;
        
    }
    
    &__expand {
        margin-bottom: 5rem;
        cursor: pointer;
        transition: $normal;
        
        &:hover {
            transform: translateY(-1rem);
            
            i {
                transform: scale(1.3);
            }
        }
        
        i {
            color: $white;
            text-align: center;
            display: block;
            margin: 0 auto;
            font-size: 4rem;
            transition: $normal;
        }
        
    }
    
    .qod {
        
        font-style: italic;
        
    }
    
}