.setup {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $primary;
    transform: translateX(100vw);
    transition: all 1.3s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    color: $white;
    
    &__progress-bar {
        
        // Progress Bar Styles Go Here
        height: 1rem;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        
        &--inner {
            
            // Inner Style Goes Here
            height: 100%;
            width: 16.66%;
            background-color: rgba($white, .4);
            
            transition: $smooth;
            
        }
        
    }
    
    &__slide {
        
        // Generic Slide Styles Go Here
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &--1 {
            
            // Slide 1 Styles

        }
        
        &--2 {
            
            // Slide 2 Styles
            display: none;
            
        }
        
        &--3 {
            
            // Slide 3 Styles
            display: none;
            
        }
        
        &--4 {
            
            // Slide 4 Styles
            display: none;
            
            input {
                margin-bottom: 3rem;
            }
            
        }
        
        &--5 {
            
            // Slide 5 Styles
            display: none;
            
        }
        
        &--6 {
            
            display: none;
            
        }
        
    }
    
    &__heading {
        
        text-transform: uppercase;
        letter-spacing: .5rem;
        margin-bottom: 2rem;
        
        &--center {
            
            text-align: center;
            
        }
        
    }
    
    &__subheading {
        
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .4rem;
        margin-bottom: 2rem;
        
    }
    
    &__slide-content {
        
        width: 40vw;
        
        p {
            
           line-height: 3.5rem; 
            margin-bottom: 3rem;
            
        }
        
    }
    
    &__input {
        
        &-text {
            
            background-color: transparent;
            width: 50%;
            border: 2px solid transparent;
            border-bottom: 2px solid $white;
            padding: 2rem 0;
            outline: none;
            transition: $smooth;
            color: $white;
            font-size: $font-xxs;
            
            &:focus {
                
                outline: none;
                border: 2px solid $white;
                border-radius: 1rem;
                padding: 2rem;
                
            }
            
            &::placeholder {
                color: rgba($white, .5);
                font-size: $font-xxs;
            }
            
        }
        
        &-select {
            
        }
        
    }
    
    &__slider {
        
        margin-top: 2rem;
        margin-bottom: 3rem;
        
        & {
          -webkit-appearance: none;
          width: 100%;
          height: .5rem;   
          background: rgba($white, .5);
          outline: none;
          opacity: 0.7;
          -webkit-transition: .2s;
          transition: opacity .2s;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 3rem;
          height: 3rem;
          border-radius: 50%; 
          background: $white;
          cursor: pointer;
        }

        &::-moz-range-thumb {
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          background: $white;
          cursor: pointer;
        }
        
    }
    
    &__next,
    &__back {
        
        position: absolute;
        display: block;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        cursor: pointer;
        border:none;
        background-color: $white;
        
        i {
            
            font-size: 3.5rem;
            @include centerBox;
            
        }
        
    }
    
    &__next {
        
        right: 5vw;
        
    }
    
    &__back {
        
        left: 5vw;
        
    }
    
    &__submit {
        
        text-align: center;
        display: block;
        padding: 1rem 2rem;
        border-radius: .5rem;
        margin: 0 auto;
        text-transform: uppercase;
        border: none;
        letter-spacing: .4rem;
        cursor: pointer;
        transition: $normal;
        background-color: $white;
        
        &:hover {
            opacity: .8;
        }
        
    }
    
    &__select-grid {
        width: 100%;
        display: grid;
        grid-template-columns: calc(25% - (6rem / 4)) calc(25% - (6rem / 4)) calc(25% - (6rem / 4)) calc(25% - (6rem / 4));
        grid-gap: 2rem;
        margin-top: 3rem;
        
        &__checkbox {
            
            display: none;
            
            &:checked + .setup__select-grid__item {
                
                outline: 3px solid $white;
                background-size: 110%;
                
                .setup__select-grid__item-hello-darkness {
                    
                    opacity: .5;
                    
                }
                
                h3 {
                    
                    opacity: 1;
                    z-index: 10;
                    
                }
                
            }
            
        }
        
        &__item {
            
            display: block;
            height: 15rem;
            background-size: cover;
            background-position: center;
            display: flex;
            transition: $normal;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: relative;
            outline: 3px solid transparent;
            
            h3 {
                
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: .3rem;
                font-size: 80%;
                padding: 1rem;
                opacity: 0;
                transition: $normal;
                text-align: center;
                display: block;
                
            }
            
            &-hello-darkness {
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: $black;
                opacity: 0;
                transition: $normal;
                //z-index: 1;
            }
            
            &:hover {
                background-size: 110%;
                
                .setup__select-grid__item-hello-darkness {
                    
                    opacity: .5;
                    
                }
                
                h3 {
                    
                    opacity: 1;
                    z-index: 10;
                    
                }
            }
        }
    }
    
}