.form {
    
    h3 {
        margin-bottom: 4rem;
    }
    
    &__half-container {
        width: 100%;
        display: grid;
        grid-template-columns: 45% 45%;
        grid-column-gap: 10%;
    }
    
    &__select {
        display: block;
        border:none;
        border-bottom: 3px solid $gray-lt-3;
        font-size: $font-xxs;
        letter-spacing: .2rem;
        outline: none;
        margin-bottom: 4rem;
        transition: $normal;
        height: 4rem;
        cursor: pointer;
        color: $gray-dk-1;
        font-weight: 400;
        width: 100%;
    }
    
    &__input {
        &,
        &-full,
        &-half {
            border:none;
            border-bottom: 3px solid $gray-lt-3;
            margin-bottom: 4rem;
            font-size: $font-xxs;
            line-height: 2;
            letter-spacing: .2rem;
            outline: none;
            transition: $normal;
            
            &:focus {
                border-color: $primary;
            }
            
            &:invalid {
                //border-color: orange;
            }
            
            &::placeholder {
                color: $gray-dk-1;
                font-size: $font-xxs;
                font-family: $body-font;
                font-weight: 400;
                line-height: 2;
                letter-spacing: .2rem;
            }
        }
        
        &-full {
            display: block;
            width: 100%;
        }
        
        &-half {
            display: block;
            
        }
    }
    
    &__textarea {
        display: block;
        width: 100%;
        border:none;
        border-bottom: 3px solid $gray-lt-3;
        margin-bottom: 4rem;
        font-size: $font-xxs;
        font-family: $body-font;
        line-height: 2;
        letter-spacing: .2rem;
        outline: none;
        transition: $normal;
        
        &::placeholder {
            color: $gray-dk-1;
            font-size: $font-xxs;
            font-family: $body-font;
            font-weight: 400;
            line-height: 2;
            letter-spacing: .2rem;
        }
    }
    
    .clearfix {
        @include clearfix;
    }
}